<div class="background">
<nav class="navbar">
  <div class="navbar-logo">

  </div>
  <ul class="navbar-links">
    <li><a (click)="goToList()" >Liste des sondages</a></li>
    <li><a >Services</a></li>
    <li><a >À propos</a></li>
    <li><a >Contact</a></li>
  </ul>
</nav>
<div class="content">
  <div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label class="col-form-label" style="margin-top: 20px;">Nom du sondage:</label>
      <div class="custom-input">
      <input  style="background-color: rgba(116, 235, 213, 0); " type="text" class="custom-input" [(ngModel)]="nomSondage">
    </div>
    </div>
  </div>

  <!-- Deuxième colonne pour la description du sondage -->
  <div class="col-md-4">
    <div class="form-group">
      <label class="col-form-label" style="margin-top: 20px;">Description du sondage:</label>
      <div class="custom-input">
      <input style="background-color: rgba(116, 235, 213, 0);" type="text" class="custom-input" [(ngModel)]="desc">
    </div>
    </div>
  </div>
  <div class="col-md-4">
    <div style="background-color: rgba(116, 235, 213, 0);" class="col-12 filtres">
      <label for="plageAge">Plage d'âge:</label>
      <select [(ngModel)]="selectedAgeRange" class="col-1" style="background-color: rgba(116, 235, 213, 0);">
        <option  value="18-23">18-25 ans</option>
        <option value="25-35">25-35 ans</option>
        <option value="35-45">35-45 ans</option>
        <option value="45-60">45-60 ans</option>
        <option value="60-80">60-80 ans</option>
        <option class="select-light" value="18-80">Toutes</option>
      </select>
      <label for="gender">Sexe:</label>
      <select id="sexe" [(ngModel)]="selectedGender" style="background-color: rgba(116, 235, 213, 0);">
        <option class="select-light" *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
        <option class="select-light">Tous</option>
      </select>
      <div class="col-1"> <!-- Ajout d'un espace horizontal de 1 colonne Bootstrap -->
        &nbsp; <!-- Utilisation d'un espace insécable pour créer l'espace horizontal -->
      </div>
      <label   for="gender">nombre participant:</label>
     <input [value]="nbP" [(ngModel)]="nbP"  class="col-1" type="number" style="background-color: rgba(116, 235, 213, 0);">
     <div  id="popup" class="popup">
      <div class="popup-content">
        <span class="popup-close" (click)="closePopup()">&times;</span>
        <h2>Sondage envoyé avec succès</h2>
      </div>
    </div>
    </div>
  </div>
  <button class="btn btn-light" style="width: 100px; margin-left: 1400px;" (click)="sendToUsers()">envoyer</button>
  </div>
<hr>  <div class="d-flex align-items-center">
    <!-- Premier bloc -->

    <div class="form-group row">
      <label class="col-sm-4 col-form-label" style="margin-top: 20px;">veuillez saisir votre question:</label>
      <div class="col-4" (mouseenter)="showQuestion()" (mouseleave)="hideQuestion()">
        <!-- Utilisez une balise <label> pour améliorer l'accessibilité -->
          <textarea style="background-color: rgba(116, 235, 213, 0);" class="form-control" rows="3" id="titreTextarea" [(ngModel)]="titre"></textarea>
    </div>

      <div class="col-4 ">
        <button class="ml- question-button btn btn-light" (click)="addQuestion()">Ajouter Question</button>
      </div>
    </div>

    <div class="col-1"> <!-- Ajout d'un espace horizontal de 1 colonne Bootstrap -->
      &nbsp; <!-- Utilisation d'un espace insécable pour créer l'espace horizontal -->
    </div>
    <!-- Petit espace horizontal -->


  </div>

  <div style="background-color: rgba(116, 235, 213, 0);"  class="reponses-container ">
    <div  *ngFor="let question of questions; let i = index">
      <div class="question ">
        <div  class="question-container custom-input">
        <ng-container  *ngIf="!isEditingQ; else editMode" >
          <p  class="question-title " (click)="editTitreQ()">{{ i + 1 }}) {{ question.titre }}</p>
          </ng-container>
        </div>
        <ng-template #editMode>
          <div class="input-group">
          <input style="background-color: rgba(116, 235, 213, 0);" type="text" class="custom-input" [(ngModel)]="question.titre">
          <button style="background-color: rgba(116, 235, 213, 0);"  (click)="saveTitreQ(question)" style="background: none; border: none; padding: 0; margin: 0; cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
          </svg></button></div>
          <!--button class="btn btn-danger" (click)="openPopupRep()"> Supprimer</button!-->
         <!-- Ajoutez ce bouton de suppression -->
        </ng-template>        <!-- Afficher les détails de chaque question ici -->
        <app-reponse [questionId]="question.id"></app-reponse>

        <div style="margin-left: 400px; ">
          <button  (click)="openPopupQ(question.id)"  style="background: none; border: none; padding: 0; margin: 0; cursor: pointer;">
            <svg  color="white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
        </button>
      </div>
      </div>

      <div  id="popupQ" class="popupQ" >
        <div class="popupQ-content">
          <span class="popupQ-close" (click)="closePopupQ()">&times;</span>
          <h2>Confirmation</h2>
          <p>Êtes-vous sûr de vouloir supprimer cette question ?</p>
          <button class="btn btn-success" (click)="onDeleteQuestion(question.id)">Oui</button>
          <button class="btn btn-danger" (click)="closePopupQ()">Annuler</button>
        </div>
      </div>
    </div>
    <button class="btn btn-light" style="height: 40px; margin-top: 290px; margin-left: 10px;" (click)="ajouterParticipantEtCritique()">Stocker le sondage</button>

  </div>
</div>

<div  id="popupsupQ" class="popupsupQ">
  <div class="popupsupQ-content">
    <h2>Question supprimé avec succès</h2>
  </div>
</div>

</div>
